@using Entity.Models;
@inject NavigationManager NavigationManager 


<button @onclick="addNewPerson">
                                 Add new Person
</button> 

<button @onclick="chooseExistingPerson">
                                 Choose existing person
               </button> 
@code {

    [Parameter] public Family Family { get; set; }

      
    private void addNewPerson()
    {
        NavigationManager.NavigateTo($"/AddAdult/{Family.StreetName}/{Family.HouseNumber}");
    }

    private void chooseExistingPerson()
    {
        NavigationManager.NavigateTo($"/Adults/{Family.StreetName}/{Family.HouseNumber}");
    }
}